body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.navbar {
    width: 100%;
    box-shadow: 0.5px 0.5px 15px 0.5px #000000;
    display: flex;
    justify-content: flex-end;
}
.navbar .logo {
    width: 20%;
}
.navbar .navlinks {
    width: 100%;
}
.navlinks a {
    float: left;
    padding: 26px 0px;
    text-decoration: none;
    width: 25%;
    text-align: center;
}