body {
    background-color: #00404d;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.navbar {
    padding: 26px;
    box-shadow: 0.5px 0.5px 18px 4px #002b33;
    display: flex;
    justify-content: flex-end;
}
.navbar .logo {
    
}